{% extends 'base.html' %}

{% load django_bootstrap5 %}

{% block title %}
    Employees
{% endblock %}

{% block content %}

<form id="leave_form" method="post">
    {% csrf_token %}

    
    <div class="row">
        <div class="col">
            {% bootstrap_field form.leave_type placeholder='bonkers' show_label=False addon_before='<span class="glyphicon glyphicon-calendar">Τύπος Άδειας</span>'%}
        </div>
        <div class="col">
            {% bootstrap_field form.date_from placeholder='bonkers' show_label=False addon_before='<span class="glyphicon glyphicon-calendar">Έναρξη Άδειας</span>'%}
        </div>
        <div class="col">
            {% bootstrap_field form.date_until placeholder='bonkers' show_label=False addon_before='<span class="glyphicon glyphicon-calendar">Λήξη Άδειας</span>'%}
        </div>
    </div>
    <div class="row">
        <div class="col">
            {% bootstrap_field form.number_of_days placeholder='bonkers' show_label=False addon_before='<span class="glyphicon glyphicon-calendar">Ημερολογιακή Διαφορά</span>'%}
        </div>
        <div class="col">
            {% bootstrap_field form.effective_number_of_days placeholder='bonkers' show_label=False addon_before='<span class="glyphicon glyphicon-calendar">Πραγματική Διάρκεια</span>'%}
        </div>
        <div class="col">
            {% bootstrap_field form.comment placeholder='bonkers' show_label=False addon_before='<span class="glyphicon glyphicon-calendar">Σχόλιο</span>'%}
        </div>
        <div class="col">

        </div>
    </div>
    
    {% bootstrap_button "Καταχώρηση" button_type="submit" button_class="btn-primary" %}
    
</form>

<script>
    $( "#id_date_from, #id_date_until" ).change(function() {
        $form=$('#leave_form');
        $date_from = $('#leave_form input[name=date_from]').val();
        $date_until = $('#leave_form input[name=date_until]').val();
        $csrf_token = $('#leave_form input[name=csrfmiddlewaretoken]').val();
        if( $date_from && $date_until) {
            $.ajax({
                type: "POST",
                url: "{% url 'leaves:compute_leave_calendar_duration' %}",
                dataType: 'html',
                data: {
                    date_from: $date_from,
                    date_until: $date_until,
                    csrfmiddlewaretoken: $csrf_token,
                },
                success: function(result)
                {
                    /* The div contains now the updated form */
                    $('#id_number_of_days').val(result);
                },
                error: function (error) {

                }
            });
        }
    
        //don't submit the form
        return false;
    });
    </script>


{% endblock %}