

{% load django_bootstrap5 %}


<form id="update_leave_form" method="post">
    {% csrf_token %}

    <div class="modal-header">
        <h5 class="modal-title">Τροποποίηση Άδειας</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
        </button>
    </div>
    <div class="modal-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    {% bootstrap_field form.leave_type wrapper_class='invalid' placeholder='' show_label=True %}
                </div>
                <div class="col">
                    {% bootstrap_field form.date_from wrapper_class='invalid' placeholder='ηη/μμ/εεεε' show_label=True %}
                </div>
                <div class="col">
                    {% bootstrap_field form.date_until wrapper_class='invalid' placeholder='ηη/μμ/εεεε' show_label=True %}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {% bootstrap_field form.number_of_days wrapper_class='invalid' placeholder='0' show_label=True %}
                </div>
                <div class="col">
                    {% bootstrap_field form.effective_number_of_days wrapper_class='invalid' placeholder='0' show_label=True %}
                </div>

            </div>
            <div class="row">
                <div class="col">
                    {% bootstrap_field form.comment wrapper_class='invalid' placeholder='Σχόλια Άδειας' show_label=True %}
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">
            <i class="bi-plus-circle" aria-hidden="true"></i>&nbsp;Τροποποίηση
        </button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            <i class="bi-arrow-left-circle" aria-hidden="true"></i>&nbsp;Επιστροφή
        </button>
    </div>


</form>

<script>
    $( "#id_date_from, #id_date_until" ).change(function() {
        $form=$('#update_leave_form');
        $date_from = $('#update_leave_form input[name=date_from]').val();
        $date_until = $('#update_leave_form input[name=date_until]').val();
        $csrf_token = $('#update_leave_form input[name=csrfmiddlewaretoken]').val();
        if( $date_from && $date_until) {
            $.ajax({
                type: "POST",
                url: "{% url 'leaves:compute_leave_calendar_duration' %}",
                dataType: 'html',
                data: {
                    date_from: $date_from,
                    date_until: $date_until,
                    csrfmiddlewaretoken: $csrf_token,
                },
                success: function(result)
                {
                    /* The div contains now the updated form */
                    $('#id_number_of_days').val(result);
                },
                error: function (error) {

                }
            });
        }
    
        //don't submit the form
        return false;
    });
    </script>


