{% load django_bootstrap5 %}
{% load employee_extras %}

<div class="row">
    <div class="col-md">
        <div class="alert alert-warning" role="alert">
        Οι υπολογισμοί προϋπηρεσίας και συνολικής υπηρεσίας δεν έχουν ακόμα πλήρως διασταυρωθεί
        </div>
    </div>
</div>
<div class="row">

    <div class="col-md">
        <h6>
            Προ Διορισμού -
            <small class="text-muted">Υπηρεσία πριν τον διορισμό</small>
        </h6>

        <table class="table table-sm table-striped">
            <tr>
                <th>Μισθολογική Προϋπ. (ν4354/2015)</th>
                <td>{{misthologiki_proyp|default:"0"|duration_string_from_days}} ({{misthologiki_proyp|default:"0"}} ημέρες)</td>
            </tr>
            <tr>
                <th>Βαθμολογική Προϋπ. (v1566/1985)</th>
                <td>{{bathmologiki_proyp|default:"0"|duration_string_from_days}} ({{bathmologiki_proyp|default:"0"}} ημέρες)</td>
            </tr>
            <tr>
                <th>Προϋπ. για Ωράριο (εγκύκλιος 2010)</th>
                <td>{{proy_gia_orario|default:"0"|duration_string_from_days}} ({{proy_gia_orario|default:"0"}} ημέρες)</td>
            </tr>
        </table>

    </div>

</div>

<div class="row">
    <div class="col-md">
        <h6>
            Μετά Διορισμού -
            <small class="text-muted">Υπηρεσία που έχει αποκτηθεί μετά τον διορισμό</small>
        </h6>
        {% if no_fek_diorismou %}

        <div class="alert alert-warning" role="alert">
        Δεν υπάρχει καταχωρημένο ΦΕΚ Διορισμόυ για να υπολογισθεί η υπηρεσία μετά το διορισμό
        </div>

        {% else %}
        <table class="table table-sm table-striped">
            <tr>
                <th scope="row">Εκπαιδευτική Υπηρεσία (v1566/1985)</th>
                <td>
                    {{ekpaideutiki_yphresia_meta_diorismo|default:"0"|duration_string_from_days}} ({{ekpaideutiki_yphresia_meta_diorismo|default:"0"}} ημέρες)
                </td>
            </tr>
            {% if leave_days_against_teaching_experience > 0 %}
            <tr>
                <td colspan="2" class="text-center">
                    <div class="badge bg-danger text-wrap">
                        Έχει αφαιρεθεί εκπαιδευτική υπηρεσία {{leave_days_against_teaching_experience|default:"0"|duration_string_from_days}}
                        ({{leave_days_against_teaching_experience|default:"0"}} ημέρες) λόγω αναρρωτικών αδειών
                    </div>
                </td>
            </tr>
            {% endif %}
            <tr>
                <th>Διδακτική Υπηρεσία (εγκύκλιος 2010)</th>
                <td>{{didaktiki_yphresia_meta_diorismo|default:"0"|duration_string_from_days}} ({{didaktiki_yphresia_meta_diorismo|default:"0"}} ημέρες)</td>
            </tr>
        </table>
        {% endif %}
    </div>
</div>

<div class="row">

    <div class="col-md">
        <h6>
            Συνολικά -
            <small class="text-muted">Προϋπηρεσία και υπηρεσία μετά το διορισμό</small>
        </h6>

        {% if no_fek_diorismou %}
        <div class="alert alert-warning" role="alert">
            Δεν υπάρχει καταχωρημένο ΦΕΚ Διορισμού για να υπολογισθεί η συνολική υπηρεσία
        </div>
        {% else %}
        <table class="table table-sm table-striped">
            <tr>
                <th>Συνολική Εκπαιδευτική Υπηρεσία (v1566/1985)</th>
                <td>{{synoliki_ekpaideutiki_yphresia|default:"0"|duration_string_from_days}} ({{synoliki_ekpaideutiki_yphresia|default:"0"}} ημέρες)</td>
            </tr>
            <tr>
                <th>Συνολική Διδακτική Υπηρεσία (εγκύκλιος 2010 - για ωράριο)</th>
                <td>{{synoliki_didaktiki_yphresia|default:"0"|duration_string_from_days}} ({{synoliki_didaktiki_yphresia|default:"0"}} ημέρες)</td>
            </tr>
        </table>
        {% endif %}
    </div>
</div>