{% extends 'base.html' %}

{% load django_bootstrap5 %}

{% block title %}
Λίστα Αδειών Εργαζόμενου
{% endblock %}

{% block content %}

{% include "_modal.html" %}

<div class="col-md-12 mx-auto">
    <div class="card shadow">

        <div class="card-body">

            <div class="row">

                <!-- section for basic employee info -->
                <div class="col-md-8">
                    <h5>
                        Στοιχεία Εργαζόμενου
                    </h5>
                    {% include "employees/employee_details_mini.html" %}
                </div>

                <!-- section for employee's leave statistics -->
                <div class="col-md-4">
                    <h5>
                        Στατιστικά Αδειών
                    </h5>
                    <table class="table table-sm table-striped table-hover">
                        <thead>
                        <tr>
                            <th class="col-xs-3">Τύπος</th>
                            <th class="col-xs-3">Ημέρες</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Κανονική Άδεια Φέτος</td>
                            <td><strong>{{regular_leaves_current_year}}</strong></td>
                        </tr>
                        <tr>
                            <td>Κανονική Άδεια Πέρυσι</td>
                            <td><strong>{{regular_leaves_previous_year}}</strong></td>
                        </tr>
                        <tr>
                            <td>Αναρρωτική Άδεια Φέτος</td>
                            <td><strong>{{medical_leaves_current_year}}</strong></td>
                        </tr>
                        <tr>
                            <td>Αναρρωτική Άδεια τελευταίας 5ετίας</td>
                            <td><strong>{{medical_leaves_last_5_years}}</strong></td>
                        </tr>
                        </tbody>
                    </table>

                </div>

            </div>

            <div class="row">
                <div class="container">
                    <a href="{{request.META.HTTP_REFERER|escape}}" class="btn btn-sm btn-success" role="button">
                        <i class="bi-arrow-left-circle" aria-hidden="true"></i>&nbsp;
                        Επιστροφή
                    </a>
                    {% if perms.leaves.add_leave %}
                    <button id="create-leave-button" class="btn btn-sm btn-primary" type="button" name="button">
                        <i class="bi-plus-circle" aria-hidden="true"></i>&nbsp;
                        Εισαγωγή Άδειας
                    </button>
                    {% endif %}
                </div>
            </div>

            <div class="row">
                {% if leaves|length == 0 %}
                <div class="col-md-8">

                    <div class="mt-3 alert alert-warning" role="alert">
                        Δεν υπάρχουν καταχωρημένες άδειες για τον εργαζόμενο <strong>{{employee}}</strong>
                    </div>
                    {% else %}
                    <div class="col">
                        <table id="employee_leave_list_table" class="table table-sm table-hover">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Κωδ.Άδ.</th>
                                    <th scope="col">Τύπος Άδειας</th>
                                    <th scope="col">Ημέρες</th>
                                    <th scope="col">Έναρξη</th>
                                    <th scope="col">Λήξη</th>
                                    <th scope="col">Σχολείο Οργανικής</th>
                                    <th scope="col">Σχόλιο</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for leave in leaves %}
                                <tr>
                                    <td>
                                        {% if perms.leaves.view_leave %}
                                            <button id="view-leave-btn" data-form-url="{% url 'leaves:leave-detail' leave.id %}" class="view-leave btn btn-sm btn-primary" type="button" name="button">
                                                <i class="bi-info-circle" aria-hidden="true"></i>&nbsp;{{ leave.id }}
                                            </button>
                                        {% else %}
                                            {{ leave.id }}
                                        {% endif %}
                                    </td>
                                    <td>{{ leave.leave_type.legacy_code }}</td>
                                    <td>{{ leave.leave_type.description }} </td>
                                    <td>{{ leave.effective_number_of_days }}</td>
                                    <td>{{ leave.date_from|date:"d-m-Y" }}</td>
                                    <td>{{ leave.date_until|date:"d-m-Y" }}</td>
                                    <td>{{ leave.current_unit }}</td>
                                    <td>{{ leave.comment|default:""|truncatechars:20 }}</td>
                                    <td>
                                        {% if perms.leaves.change_leave %}
                                        <button id="update-leave-button" data-form-url="{% url 'leaves:leave-update' leave.id %}" class="update-leave btn btn-sm btn-primary" type="button" name="button">
                                           <i class="bi-pencil-square" aria-hidden="true"></i>&nbspΕ.
                                        </button>
                                        {% endif %}

                                   {% if perms.leaves.delete_leave %}
                                    <button id="delete-leave-btn" data-form-url="{% url 'leaves:leave-delete' leave.id %}" class="delete-leave btn btn-sm btn-danger" type="button" name="button">
                                       <i class="bi-trash" aria-hidden="true"></i>&nbspΔ.
                                    </button>
                                    {% endif %}
                                    
                                    {% if employee.employee_type != 'ADMINISTRATIVE' %} 
                                        {% if leave.leave_type.legacy_code == '41' or leave.leave_type.legacy_code == '55' %}
                                            <a id="print-leave-btn" href="{% url 'leaves:leave-print' leave.id  employee.id %}"
                                                class="print-leave btn btn-sm btn-warning" type="button" name="button" target="_blank">
                                                <i class="bi bi-filetype-pdf" aria-hidden="true"></i>&nbspΕκτ.
                                            </a>
                                        {% endif %}
                                    {% elif %}
                                    {% else %}
                                        {% if leave.leave_type.legacy_code == '31' or leave.leave_type.legacy_code == '54' %}
                                            <a id="print-leave-btn" href="{% url 'leaves:leave-print' leave.id  employee.id %}"
                                                class="print-leave btn btn-sm btn-warning" type="button" name="button" target="_blank">
                                                <i class="bi bi-filetype-pdf" aria-hidden="true"></i>&nbspΕκτ.
                                            </a>
                                    {% endif %}

                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot class="thead-dark">
                                <tr>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                </tr>
                            </tfoot>
                        </table>
                        {% endif %}
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


    {% endblock content %}

    {% block bootstrap5_extra_script %}
    <script type="text/javascript">
        $(document).ready(function()  {

            $.fn.dataTable.moment( 'DD-MM-YYYY' );

            var table = $('#employee_leave_list_table').DataTable({
                initComplete: function () {
                    this.api()
                        .columns()
                        .every(function () {
                            var column = this;

                            if ( [1, 2, 3, 6].includes( this.index() ) ) {

                                var select = $('<select><option value=""></option></select>')
                                    .appendTo($(column.footer()).empty())
                                    .on('change', function () {
                                        var val = $.fn.dataTable.util.escapeRegex($(this).val());

                                        column.search(val ? '^' + val + '$' : '', true, false).draw();
                                    });


                                column
                                    .data()
                                    .unique()
                                    .sort()
                                    .each(function (d, j) {
                                        select.append('<option value="' + d + '">' + d + '</option>');
                                    });

                            }

                        });
                },
                pagingType: "simple_numbers",
                lengthChange: false,
                lengthMenu: [ 10, 20, 40, 80],
                paging: true,
                pageLength: 10,
                ordering: true,
                order: [[4, 'desc']],
                autoWidth: false,
                language: {
                    url: 'https://cdn.datatables.net/plug-ins/1.13.1/i18n/el.json',
                }
            });

            // delete leave
            $(".delete-leave").each(function () {
                $(this).modalForm({formURL: $(this).data("form-url"), isDeleteForm: true});
            });

            // view leave
            $(".view-leave").each(function () {
                $(this).modalForm({formURL: $(this).data("form-url"), isDeleteForm: false, modalID: "#modal-lg"});
            });

            // update leave
            $(".update-leave").each(function () {
                $(this).modalForm({formURL: $(this).data("form-url"), isDeleteForm: false, modalID: "#modal-lg"});
            });

            // create new leave
            $("#create-leave-button").modalForm({
                formURL: "{% url 'leaves:leave-create' employee.uuid %}",
                modalID: "#modal-lg"
            });
        });
    </script>
    {% endblock bootstrap5_extra_script %}
