{% extends 'base.html' %}

{% load django_bootstrap5 %}

{% block title %}
    Λίστα Προσωπικού
{% endblock %}

{% block content %}

<div class="col-md-12 mx-auto">
    <div class="card shadow">
        
        <div class="card-body">

            <div class="row">
                <!-- server side datatable -->
                <div class="col">
                    <table id="datatable_employee_list" width="100%" class="table hover table-hover table-striped">
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
    

{% endblock content %}

{% block bootstrap5_extra_script %}
<script>
$(document).ready(function($) {

    $(".clickable-table-row").click(function() {
        window.document.location = $(this).data("href");
    });



    AjaxDatatableViewUtils.initialize_table(
            $('#datatable_employee_list'),
            "{% url 'employees:ajax_datatable_employees' %}",
            {
                // extra_options (example)
                processing: false,
                autoWidth: true,
                full_row_select: false,
                scrollX: true,
                select: true,
                layout: {
        top1: 'searchPanes'
    },
    searchPanes: {
        controls: true
    }

            }, {
                'goto_target': '{{goto_target}}'
            },
        );
    var datatable_employee_list = $('#datatable_employee_list')

<!--    datatable_employee_list.on('click', 'tbody tr', function () {-->
<!--        console.log("select event");-->
<!--    });-->

    table = datatable_employee_list.closest('table.dataTable');
    datatable_employee_list.on('select.dt', function (e, dt, type, indexes) {
        console.log("select event");
        if (type === 'row') {
            var goto_url = dt.rows(indexes).data().pluck('goto_url');
            window.open(goto_url[0], '_self');
        }
    });

<!--    datatable_employee_list.on('click', 'tbody tr', function () {-->
<!--      table = datatable_employee_list.closest('table.dataTable');-->
<!--      let data = table.DataTable().row(this).data();-->
<!--      console.log(data);   //full row of array data-->
<!--      console.log(data['goto_url']);   //EmployeeId-->
<!--      //window.open(data['goto_url'], '_self');-->
<!--      //var a = document.createElement('a');-->
<!--      //a.href = data['goto_url'];-->
<!--      //a.click();-->
<!--    });-->



    $('#datatable_employee_list tbody').on('click', 'tr', function() {
        console.log('clicked: ' + table.row(this).data()[0])
    });

<!--    var table = $('#employee_list_table').DataTable({-->
<!--        pagingType: "simple_numbers",-->
<!--        lengthChange: true,-->
<!--        lengthMenu: [ 10, 20, 40, 80],-->
<!--        paging: true,-->
<!--        pageLength: 20,-->
<!--        ordering: true,-->
<!--        order: [[2, 'asc']],-->
<!--        autoWidth: false-->
<!--    });-->

<!--    var table = $('#employee_list_table').DataTable({-->
<!--        initComplete: function () {-->
<!--            this.api()-->
<!--                .columns()-->
<!--                .every(function () {-->
<!--                    var column = this;-->
<!--                    var select = $('<select><option value=""></option></select>')-->
<!--                        .appendTo($(column.footer()).empty())-->
<!--                        .on('change', function () {-->
<!--                            var val = $.fn.dataTable.util.escapeRegex($(this).val());-->

<!--                            column.search(val ? val : '', false, true).draw();-->
<!--                        });-->


<!--                    column-->
<!--                        .data()-->
<!--                        .unique()-->
<!--                        .sort()-->
<!--                        .each(function (d, j) {-->
<!--                            select.append('<option value="' + d + '">' + d + '</option>');-->
<!--                        });-->

<!--                });-->
<!--        },-->
<!--        serverSide: true,-->
<!--        processing: true,-->
<!--        deferRender: true,-->
<!--        ajax: '{ url 'employees:employee-list-data' }',-->
<!--        columnDefs: [ {-->
<!--            targets: "dt_nosort",-->
<!--            orderable: false-->
<!--        }, {-->
<!--            targets: "dt_nosearch",-->
<!--            searchable: false-->
<!--        }, {-->
<!--            targets: 2,-->
<!--            orderData: [2, 3]-->
<!--        } ],-->
<!--        search: {-->
<!--            return: true-->
<!--        },-->
<!--        language: {-->
<!--            url: 'https://cdn.datatables.net/plug-ins/1.13.1/i18n/el.json',-->
<!--        },-->
<!--        pagingType: "simple_numbers",-->
<!--        lengthChange: true,-->
<!--        lengthMenu: [ 10, 20, 40, 80],-->
<!--        paging: true,-->
<!--        pageLength: 20,-->
<!--        ordering: true,-->
<!--        order: [[2, 'asc']],-->

<!--        "autoWidth": false-->
<!--    });-->




<!--    $('#employee_list_table tbody').on('click', 'tr', function () {-->
<!--        var data = table.row(this).data();-->
<!--        location.href = '{ url goto_target }/' + data[9];-->
<!--    });-->
});
</script>

{% endblock bootstrap5_extra_script %}