{% extends 'base.html' %}

{% load django_bootstrap5 %}

{% block title %}
    Λίστα Προσωπικού
{% endblock %}

{% block content %}

<div class="col-md-12 mx-auto">
    <div class="card shadow">
        
        <div class="card-body">
            <form role="form" method="get">
                {% bootstrap_form_errors form type='non_fields' %}
                <div class="row">
                    <div class="col-md-2">
                        {% bootstrap_field form.last_name placeholder='' show_label=True%}
                    </div>
                    <div class="col-md-2">
                        {% bootstrap_field form.first_name placeholder='' show_label=True%}
                    </div>
                    <div class="col-md-3">
                        {% bootstrap_field form.employee_type placeholder='' show_label=True%}
                    </div>
<!--                    <div class="col-md-3">-->
<!--                        % bootstrap_field form.is_active placeholder='' show_label=True% -->
<!--                    </div>-->
                </div>
                
                <div class="row">
                    <div class="col-md-2">
                        {% bootstrap_field form.vat_number placeholder='' show_label=True%}
                    </div>
                    <div class="col-md-2">
                        {% bootstrap_field form.registration_id placeholder='' show_label=True%}
                    </div>
                    <div class="col-md-2 align-self-center">
                        {% bootstrap_button button_type="submit" content="Αναζήτηση" %}
                    </div>  
                </div>

            </form>

            <div class="row">
                <div class="col">
                    <table id="employee_list_table" class="table table-sm table-hover">
                        <thead class="table-light">
                            <tr>
                                <th scope="col">ΑΜ</th>
                                <th scope="col">ΑΦΜ</th>
                                <th scope="col">Επώνυμο</th>
                                <th scope="col">Όνομα</th>
                                <th scope="col">Όνομα Πατρός</th>
                                <th scope="col">Ειδικότητα</th>
                                <th scope="col">Οργανική</th>
                                <th scope="col">Τύπος</th>
                                <!-- <th scope="col">Βαθμός Ε'-2</th> -->
                                <th scope="col">Ετ.Γεν.</th>
                            </tr>
                        </thead>
                        <tbody class="table-group-divider">
                        {% for employee in employees_paginated %}
                            <tr class="clickable-table-row" style="cursor: pointer" data-href="{% url goto_target employee.uuid %}">
                                <td>{{ employee.registry_id|default:""}}</td>
                                <td>{{ employee.vat_number|default:""}}</td>
                                <td>{{ employee.last_name|truncatechars:20 }}</td>
                                <td>{{ employee.first_name }}</td>
                                <td>{{ employee.father_name }}</td>
                                <td>{{ employee.specialization.code }} {{ employee.specialization.title|truncatechars:20 }}</td>
                                <td>{{ employee.current_unit.title|default:"" }}</td>
                                <td>{{ employee.get_employee_type_display }}</td>
                                <td>{{ employee.date_of_birth|date:"d-m-Y" }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    {% if display_paginated_pages %}
                       {% bootstrap_pagination employees_paginated extra=request.GET.urlencode size="sm" %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
    

{% endblock content %}

{% block bootstrap5_extra_script %}
<script>
$(document).ready(function($) {

    $(".clickable-table-row").click(function() {
        window.document.location = $(this).data("href");
    });

<!--    var table = $('#employee_list_table').DataTable({-->
<!--        pagingType: "simple_numbers",-->
<!--        lengthChange: true,-->
<!--        lengthMenu: [ 10, 20, 40, 80],-->
<!--        paging: true,-->
<!--        pageLength: 20,-->
<!--        ordering: true,-->
<!--        order: [[2, 'asc']],-->
<!--        autoWidth: false-->
<!--    });-->

<!--    var table = $('#employee_list_table').DataTable({-->
<!--        initComplete: function () {-->
<!--            this.api()-->
<!--                .columns()-->
<!--                .every(function () {-->
<!--                    var column = this;-->
<!--                    var select = $('<select><option value=""></option></select>')-->
<!--                        .appendTo($(column.footer()).empty())-->
<!--                        .on('change', function () {-->
<!--                            var val = $.fn.dataTable.util.escapeRegex($(this).val());-->

<!--                            column.search(val ? val : '', false, true).draw();-->
<!--                        });-->


<!--                    column-->
<!--                        .data()-->
<!--                        .unique()-->
<!--                        .sort()-->
<!--                        .each(function (d, j) {-->
<!--                            select.append('<option value="' + d + '">' + d + '</option>');-->
<!--                        });-->

<!--                });-->
<!--        },-->
<!--        serverSide: true,-->
<!--        processing: true,-->
<!--        deferRender: true,-->
<!--        ajax: '{ url 'employees:employee-list-data' }',-->
<!--        columnDefs: [ {-->
<!--            targets: "dt_nosort",-->
<!--            orderable: false-->
<!--        }, {-->
<!--            targets: "dt_nosearch",-->
<!--            searchable: false-->
<!--        }, {-->
<!--            targets: 2,-->
<!--            orderData: [2, 3]-->
<!--        } ],-->
<!--        search: {-->
<!--            return: true-->
<!--        },-->
<!--        language: {-->
<!--            url: 'https://cdn.datatables.net/plug-ins/1.13.1/i18n/el.json',-->
<!--        },-->
<!--        pagingType: "simple_numbers",-->
<!--        lengthChange: true,-->
<!--        lengthMenu: [ 10, 20, 40, 80],-->
<!--        paging: true,-->
<!--        pageLength: 20,-->
<!--        ordering: true,-->
<!--        order: [[2, 'asc']],-->

<!--        "autoWidth": false-->
<!--    });-->




<!--    $('#employee_list_table tbody').on('click', 'tr', function () {-->
<!--        var data = table.row(this).data();-->
<!--        location.href = '{ url goto_target }/' + data[9];-->
<!--    });-->
});
</script>

{% endblock bootstrap5_extra_script %}