{% extends 'base.html' %}

{% load django_bootstrap5 %}

{% block title %}
    Προσλήψης Αναπληρωτών
{% endblock %}

{% block content %}

<div class="col-md-12 mx-auto">
    <div class="card shadow">

        <div class="card-body">
            <form role="form" method="get">
                {% bootstrap_form_errors form type='non_fields' %}
                <div class="row">
                    <div class="col-md-2">
                        {% bootstrap_field form.school_year placeholder='' show_label=True%}
                    </div>
                    <div class="col-md-2">
                        {% bootstrap_field form.phase placeholder='' show_label=True%}
                    </div>
                    <div class="col-md-2">
                        {% bootstrap_field form.is_pending placeholder='' show_label=True%}
                    </div>
                    <div class="col-md-2">
                        {% bootstrap_field form.financing placeholder='' show_label=True%}
                    </div>
                    <div class="col-md-2">
                        {% bootstrap_field form.specialization placeholder='' show_label=True%}
                    </div>
                    <div class="col-md-2">
                        {% bootstrap_field form.employment_source placeholder='' show_label=True%}
                    </div>

                </div>

                <div class="row">

                    <div class="col-md-2 align-self-center">
                        {% bootstrap_button button_type="submit" content="Αναζήτηση" %}
                    </div>
                </div>

            </form>

            <div class="row">
                <div class="col">
                    <table id="announcements_list_table" class="table table-sm table-hover">
                        <thead class="table-light">
                            <tr>
                                <th scope="col">Φάση</th>
                                <th scope="col">Χρηματ.</th>
                                <th scope="col">Τύπος</th>
                                <th scope="col">ΑΦΜ</th>
                                <th scope="col">Επώνυμο</th>
                                <th scope="col">Όνομα</th>
                                <th scope="col">Όνομα Πατρός</th>
                                <th scope="col">Ειδι.</th>
                                <th scope="col">Ετ.Γεν.</th>
                                <th scope="col">Ωράριο</th>
                                <th scope="col">Πίν.</th>
                                <th scope="col">Σειρά Π.</th>
                                <th scope="col">Μόρια Π.</th>
                                <th scope="col">Τηλ.</th>
                                <th scope="col">e-mail</th>
                                <th scope="col">action</th>

                            </tr>
                        </thead>
                        <tbody class="table-group-divider">
                        {% for announcement in announcements %}
                            <tr class="clickable-table-row" style="cursor: pointer" data-href="url goto_target employee.uuid">
                                <td>{{ announcement.phase|default:""}}</td>
                                <td>{{ announcement.financing|default:""}}</td>
                                <td>{{ announcement.employment_source|default:""}}</td>
                                <td>{{ announcement.employee.vat_number|default:""}}</td>
                                <td>{{ announcement.employee.last_name|default:""}}</td>
                                <td>{{ announcement.employee.first_name|default:""}}</td>
                                <td>{{ announcement.employee.father_name|default:""}}</td>
                                <td>{{ announcement.specialization.code|default:""}}</td>
                                <td>{{ announcement.employee.date_of_birth|default:""}}</td>
                                <td>{{ announcement.workhour_type|default:""}}</td>
                                <td>{{ announcement.table|default:""}}</td>
                                <td>{{ announcement.table_rank|default:""}}</td>
                                <td>{{ announcement.table_points|default:""}}</td>

                                <td>{{ announcement.employee.mobile|default:""}}</td>
                                <td>{{ announcement.employee.email|default:""}}</td>
                                <td>
                                    {% if perms.leaves.change_leave %}
                                    <button id="delete-leave-btn" data-form-url="url 'leaves:leave-delete' leave.id" class="delete-leave btn btn-sm btn-danger" type="button" name="button">
                                    <i class="bi-trash" aria-hidden="true"></i>&nbspΔ.
                                    </button>
                                    {% endif %}
                                </td>

                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    {% if display_paginated_pages %}
                       {% bootstrap_pagination employees_paginated extra=request.GET.urlencode size="sm" %}
                    {% endif %}
                </div>
            </div>

        </div>

    </div>
</div>

{% endblock content %}

{% block bootstrap5_extra_script %}
    <script type="text/javascript">
        $(document).ready(function()  {

            $('#id_financing').select2({
                theme: 'bootstrap-5',
            });

            $('#id_employment_source').select2({
                theme: 'bootstrap-5'
            });

            $('#id_specialization').select2({
                theme: 'bootstrap-5'
            });

            $('#id_school_year').select2({
                theme: 'bootstrap-5'
            });

            $.fn.dataTable.moment( 'DD-MM-YYYY' );

            var table = $('#announcements_list_table').DataTable({
                initComplete: function () {
                    this.api()
                        .columns()
                        .every(function () {
                            var column = this;

                            if ( [1, 2, 3, 6].includes( this.index() ) ) {

                                var select = $('<select><option value=""></option></select>')
                                    .appendTo($(column.footer()).empty())
                                    .on('change', function () {
                                        var val = $.fn.dataTable.util.escapeRegex($(this).val());

                                        column.search(val ? '^' + val + '$' : '', true, false).draw();
                                    });


                                column
                                    .data()
                                    .unique()
                                    .sort()
                                    .each(function (d, j) {
                                        select.append('<option value="' + d + '">' + d + '</option>');
                                    });

                            }

                        });
                },
                pagingType: "simple_numbers",
                lengthChange: false,
                lengthMenu: [ 10, 20, 40, 80],
                paging: true,
                pageLength: 10,
                ordering: true,
                order: [[4, 'desc']],
                autoWidth: false,
                language: {
                    url: 'https://cdn.datatables.net/plug-ins/1.13.1/i18n/el.json',
                }
            });

            // delete leave
            $(".delete-leave").each(function () {
                $(this).modalForm({formURL: $(this).data("form-url"), isDeleteForm: true});
            });

            // view leave
            $(".view-announcement").each(function () {
                $(this).modalForm({formURL: $(this).data("form-url"), isDeleteForm: false, modalID: "#modal-lg"});
            });

            // update leave
            $(".update-leave").each(function () {
                $(this).modalForm({formURL: $(this).data("form-url"), isDeleteForm: false, modalID: "#modal-lg"});
            });

            // create new leave
            $("#create-leave-button").modalForm({
                formURL: "url 'leaves:leave-create' employee.uuid ",
                modalID: "#modal-lg"
            });
        });
    </script>
{% endblock bootstrap5_extra_script %}